{% extends 'base.html' %}

{% block content %}
<script type="text/javascript">
        var options = {
		         enableHighAccuracy: true,
		         timeout: 10000,
		         maximumAge: 0
	     };
       function getLocation() {
                if (navigator.geolocation) {
                           navigator.geolocation.getCurrentPosition(showPosition, showError, options);
                } else {
                           alert("Geolocation is not supported by this browser.");
                }
       }

       function showPosition(position) {
             var lat = position.coords.latitude;
             var lon = position.coords.longitude;
             $("#gps").html(lat + "," + lon + " [OK]");
             $("#form-latlong").val(lat + "," + lon);
             $("#get-curr-button").hide();
             $("#curr-loc").show();

	     let url = "https://www.google.com/maps/embed/v1/view?key=AIzaSyDallYEqUDWrt5P9fs4TbpDlFI81aCfluE&center="+lat+","+lon+"&zoom=14"
	     url = "https://www.google.com/maps/embed/v1/place?key=AIzaSyDallYEqUDWrt5P9fs4TbpDlFI81aCfluE&q="+lat+","+lon+"&zoom=14&center="+lat+","+lon
       	     document.getElementById('frameloc').src = url;
       	     document.getElementById('frameloc').width = "600";
       }
       function showError(position) {
                alert("Oppsss, error !!!!");
       }

if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
     </script>
    <div class="container">
        
        {% if last_log and last_log.type == 'I' %}
        <div class="card mb-4 shadow-sm">
          <div class="card-header bg-primary">
            <h4 class="my-0 font-weight-normal">Last Attendance</h4>
          </div>
          <div class="card-body">
              <h3 class="card-title pricing-card-title">Logged in {{ last_log.create_date|timesince }} ago</small></h3>
          </div>
        </div>
        {% endif %}
        <div id="get-curr-button" class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Select Location</h4>
          </div>
          <div class="card-body">
            <h3 class="card-title pricing-card-title">Please click "Get Current Location"</small></h3>
            <button  onclick="getLocation()" type="button" class="btn btn-lg btn-block btn-primary">Get Current Location</button>
          </div>
        </div>

      <div style="display: none;" id="curr-loc" class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Current Position</h4>
          </div>
          <div class="card-body">
		  <iframe id="frameloc" class="col-md-12" src="" scrolling="no" width="600" height="450" style="border:0;" loading="lazy"></iframe>
            <p>
            <span>GPS Position: </span><span id="gps"/>
            </p>

             <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" id="form-latlong" name="latlong"/>
            <input type="hidden" name="type" value="{{ attend_type }}"/>
            <div class="col-md-12 mb-3">
            </div>
            {% if attend_type == 'I'%}
            <button type="submit" class="btn btn-lg btn-block btn-success">IN</button>
            {% elif attend_type == 'O' %}
            <button type="submit" class="btn btn-lg btn-block btn-danger">OUT</button>
            {% endif %}
            </form>
            <br/>
            <a href="{% url 'index' %}" class="btn btn-block btn-warning" >Cancel</a>
          </div>
        </div>
      </div>
      </div>
{% endblock %}
